

 body,dl,dd,h1,h2,h3,h4,h5,h6,p,form,ol,ul,figure{padding:0;margin:0}	
 ol,ul{list-style:none}
 a{text-decoration:none}
 /* img{border:none;display:block} */
 
  input,button{outline:none}
 
 
 
 .clearfloat{zoom:1}
 .clearfloat:after{clear:both;content:'';display:block;height:0;visibility:hidden}

 
